@header-height: 225px;
@content-width: 1080px;

@bg-color-1: #000000;
@bg-color-2: #212121;
@bg-color-3: #303030;
@bg-color-4: #424242;
@bg-color-5: #555555;

@main-color: #F38730;
//@main-color: #F13035;
@white-color: rgba(255,255,255,1);
@white-secondary-color: rgba(255,255,255,0.7);

//Box Shadow Z-dex
@z-1: 0 2px 5px 0 rgba(0,0,0,.26);
@z-2: 0 8px 17px 0 rgba(0,0,0,.2);
@z-3: 0 12px 15px 0 rgba(0,0,0,.24);
@z-4: 0 16px 28px 0 rgba(0,0,0,.22);
@z-5: 0 27px 24px 0 rgba(0,0,0,.2);

@z-t-1: 0 2px 10px 0 rgba(0,0,0,.16);
@z-t-2: 0 6px 20px 0 rgba(0,0,0,.19);
@z-t-3: 0 17px 50px 0 rgba(0,0,0,.19);
@z-t-4: 0 25px 55px 0 rgba(0,0,0,.21);
@z-t-5: 0 40px 77px 0 rgba(0,0,0,.22);

body {
    background: @bg-color-2;
    margin: 0px;
    padding: 0px;
    
    font-size: 16px;
    font-family: Raleway;
    color: black;
}

.header {
    height: @header-height;
    text-align: center;
    color: #F38730;
    background: @bg-color-1;
    box-shadow: @z-1;
        
    .name {
        padding-top: 60px;
        font-size: 60px;
        color: @main-color;
        font-family: 'Lato', sans-serif;
    }

    .icons {
        text-align: center;
        a {
            font-size: 25px;
            margin-left: 10px;
            color: @white-color;
        }
            
    }
}
.navbar-container {
    box-shadow: @z-1;
    .navbar {
        width: @content-width + 300;
        margin-left: auto;
        margin-right: auto;

        padding-top: 25px;
        padding-bottom: 25px;

        .link {
            background: @bg-color-2;
            .name {
                color: @main-color;
                font-family: 'Lato', sans-serif;
                font-size: 30px;
                text-transform: uppercase;
            }
            .desc {
                color: @white-color;
                margin-top: 10px;
                padding-left: 15%;
                padding-right: 15%;
            }
            width: 50%;
            float: left;
            position: relative;
            text-align: center;
        }
        
        .link:hover {
            opacity: 0.4;
        }
        
        .arrow {
            
        }
    }
}
.container-container {
    //border: 15px solid #FFB377;
    //border-top: 0px;
    //border-bottom: 0px;
    ///background: #FFD177;
    background: @bg-color-3;
    
    
    .container {
        width: @content-width;
        margin-left: auto;
        margin-right: auto;

        .content {
            margin-left: 15px;
            margin-right: 15px;
            padding-top: 25px;
            padding-bottom: 25px;


            .projects {
                height: 250px;
                padding-left: 3%;
                padding-right: 1%;

                .project {
                    box-shadow: @z-2;
                    height: 250px;
                    
                    .name {
                        height: 10%;
                        text-transform: uppercase;
                        line-height: 25px;
                        color: @main-color;
                        background: @bg-color-4;
                    }
                    img {
                        height: 90%;
                    }
                    background: @bg-color-4;
                    margin-left: 2%;
                    text-align: center;
                    height: inherit;
                    width: 30%;
                    float: left;
                    position: relative;
                }
                .project:hover {
                    box-shadow: @z-3;
                }
            }
            .work {
                margin-top: 45px;

                .company {
                    background: @bg-color-4;
                    box-shadow: @z-2;
                    padding: 2px;
                    width: 70%;
                    margin-left: 18%;
                    margin-right: 12%;
                    text-align: center;
                    .icon {
                        height: 100%;
                        min-height: 1px;
                        width: 20%;
                        float: left;
                        border: 1px solid black;
                        img {
                            width: 100%;
                            display: none;
                        }
                    }
                    .text {
                        padding: 8px;
                        float: left;
                        width: 74%;
                        margin-left: 3%;
                        text-align: left;
                        font-size: 14px;
                        color: @white-color;
                        .name {
                            font-size: 20px;
                            color: @main-color;
                            .date {
                                margin-left: 5px;
                                font-size: 15px;
                                line-height: 20px;
                            }
                        }
                    }
                    margin-top: 15px;
                }
            }
            .education {
                margin-top: 40px;
                .school {
                    background: @bg-color-4;
                    box-shadow: @z-2;
                    padding: 2px;
                    width: 70%;
                    margin-left: 18%;
                    margin-right: 12%;
                    text-align: center;
                    .icon {
                        height: 100%;
                        min-height: 1px;
                        width: 20%;
                        float: left;
                        border: 1px solid black;
                        img {
                            width: 100%;
                            display: none;
                        }
                    }
                    .text {
                        padding: 8px;
                        float: left;
                        width: 74%;
                        margin-left: 3%;
                        text-align: left;
                        font-size: 14px;
                        color: @white-color;
                        .name {
                            font-size: 20px;
                            color: @main-color;
                            .date {
                                margin-left: 5px;
                                font-size: 15px;
                                line-height: 20px;
                            }
                        }
                    }
                    margin-top: 15px;
                } 
            }
            
            
            
        }
        
        .tree-content {
            //VIEW 2
            .tree-left, .tree-right {
                background: @bg-color-3;
                width: 48%;
                float: left;
                
                
                
                .tree-node {
                    margin-bottom: 400px;
                    width: 95%;
                    margin-left: auto;
                    margin-right: auto;
                    background: @bg-color-4;
                    text-align: left;
                    
                    .icon {
                        height: 100%;
                        min-height: 1px;
                        width: 20%;
                        float: left;
                        border: 1px solid black;
                        img {
                            width: 100%;
                            display: none;
                        }
                    }
                    .text {
                        padding: 8px;
                        float: left;
                        width: 74%;
                        margin-left: 1%;
                        
                        font-size: 14px;
                        color: @white-color;
                        .name {
                            font-size: 20px;
                            color: @main-color;
                            .date {
                                margin-left: 5px;
                                font-size: 15px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
            .tree-left {
                .tree-node {
                    text-align: right;
                    .icon {
                        float: right;
                    }
                    .text {
                        float: right;
                        margin-left: 0px;
                        margin-right: 1%;
                    }
                }
            }
            .tree-right {
                position: relative;
                bottom: -200px;
                
                
            }
        }
    }
}

.footer {
    background: @bg-color-1;
    box-shadow: @z-t-1;
    height: 40px;
}

.clear {
    clear: both;
}